10.2 Grid Placement/book store .dtd

<!ELEMENT bookstore (student, books)>
<!ELEMENT student (name,rollno,section,branch,age)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT rollno (#PCDATA)>
<!ELEMENT section (#PCDATA)>
<!ELEMENT branch (#PCDATA)>
<!ELEMENT age (#PCDATA)>
<!ELEMENT books (book+)>
<!ELEMENT book (title, author)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
